*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, sans-serif;
  background-color: #f4f7fa;
}
header {
  background-color: #80CEFF;
  padding: 20px 30px;
  width: 100%;
  height: 80px;
}
header a {
  text-decoration: none;
  color: #333;

}

.profile-container {
  max-width: 500px;
  background: #fff;
  padding: 20px;
  margin: 200px auto;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  text-align: center;
}

.profile-container img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-container h2 {
  margin-bottom: 10px;
}

.profile-container p {
  color: #555;
  margin: 5px 0;
}
.profile-container a {
  margin: 8px;
  padding: 8px 14px;
  border: none;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
.profile-actions {
  margin-top: 15px;
}
.btn-logout {
  background-color: #007bff;
}
.btn-edit {
  background-color: #007bff;
}
.btn-delete {
  background-color: #f44336;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

th {
  background: #80deea;
  padding: 10px;
}

td {
  padding: 10px;
  border-top: 1px solid #b3e5fc;
}
td a, button{
  margin: 4px;
  padding: 8px 14px;
  border: none;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
  