*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    z-index: 10;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    height: 100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
  
}
a{
    color: #ffffff;
    text-decoration: none;
    
}
a:hover{
    
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 8px #FDB927);
}
.Login-Register a{
    color: black;
    padding: 10px;
}
.Login-Register{
    padding: 10px;
    border-radius: 10px;
    background-color: #FDB927;
}
.Login-Register:hover{
    background-color: aqua;
    color: #ffffff;
}
  