body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 40px;
  }
h2 { color: #333; }
form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  background: #bef5c2;
  padding: 2rem;
  border-radius: 10px;
}
label {
  display: block;
  margin: 0.5rem 0 0.2rem;
  font-weight: bold;
}
select, input{
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
button {
  background: #2e7d32;
  color: white;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {    background: #1b5e20; }
